<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091951711383-lv4p214l0ok71qltnqi3s9jgeblavjca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091951711383-lv4p214l0ok71qltnqi3s9jgeblavjca</string>
	<key>API_KEY</key>
	<string>AIzaSyCIwSDie9p9xAwGM6zDxpqixauUzxfpmtg</string>
	<key>GCM_SENDER_ID</key>
	<string>1091951711383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsproy</string>
	<key>PROJECT_ID</key>
	<string>learndo-39568</string>
	<key>STORAGE_BUCKET</key>
	<string>learndo-39568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091951711383:ios:556d5ab72f8cc7b73845d2</string>
</dict>
</plist>